.taskbar{
    display: flex;
    justify-content: space-between;

    position: absolute;

    font-family: sansserifwin98;

    left: 0;
    bottom:0;

    height: 30px;
    width: 100%;

    border-top: 2px solid white;
    border-bottom: 2px solid white;

    background-color: #c1c0c1;

    .button-taskbar{
        display: flex;
    
        align-items: center;
        padding: 3px;
        margin: 2px;
    }
}

.left-section{
    display: flex;
    
    align-items: center;

    .current-selected{
        width: 150px;

        background-color: #eeeeef;
    }
}