<div class="posts">
    <app-post title="Teste" [publishDate]="newDate.toDateString()" [desc]="desc"></app-post>
    <app-post title="Teste" [publishDate]="newDate.toDateString()" [desc]="desc"></app-post>

    <app-post title="Teste" [publishDate]="newDate.toDateString()" [desc]="desc"></app-post>

    <app-post title="Teste" [publishDate]="newDate.toDateString()" [desc]="desc"></app-post>
    <app-post title="Teste" [publishDate]="newDate.toDateString()" [desc]="desc"></app-post>
    <app-post title="Teste" [publishDate]="newDate.toDateString()" [desc]="desc"></app-post>
    <app-post title="Teste" [publishDate]="newDate.toDateString()" [desc]="desc"></app-post>
    <app-post title="Teste" [publishDate]="newDate.toDateString()" [desc]="desc"></app-post>
    <app-post title="Teste" [publishDate]="newDate.toDateString()" [desc]="desc"></app-post>
    <app-post title="Teste" [publishDate]="newDate.toDateString()" [desc]="desc"></app-post>
    <app-post title="Teste" [publishDate]="newDate.toDateString()" [desc]="desc"></app-post>
    <app-post title="Teste" [publishDate]="newDate.toDateString()" [desc]="desc"></app-post>
    <app-post title="Teste" [publishDate]="newDate.toDateString()" [desc]="desc"></app-post>
    <app-post title="Teste" [publishDate]="newDate.toDateString()" [desc]="desc"></app-post>

    <div class="page-select">
        
    </div>
</div>