.posts{
  padding: 10px;

  border: 2px solid black;

  overflow: auto;

  max-height: 300px;

  background-color: white;
}

.page-select{
  display: flex;

  justify-content: center;

  .page-change{
    padding: 3px;

    color: gray;
    text-decoration: none;
  }

  b{
    color: black;
  }
}