<div class="posts">
    <span *ngFor="let post of posts">
        <app-post 
            id="{{post.id}}" 
            title="{{post.title}}" 
            publishDate="{{post.timestamp | date: 'medium'}}" 
            desc="{{post.content}}">
        </app-post>
    </span>
    <div class="page-select">
        <ng-container *ngFor="let n of pages">
            <a class="page-change" routerLink="/posts/{{n}}">
                <b *ngIf="n == currentPage + 1; else elseBlock">{{n}}</b>
                <ng-template #elseBlock>{{n}}</ng-template>
            </a>
        </ng-container>
    </div>
</div>