.bordered{
    border-left: 2px solid white;
    border-top: 2px solid white;

    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.inverse-bordered{
    border-left: 2px solid black;
    border-top: 2px solid black;

    border-right: 2px solid white;
    border-bottom: 2px solid white;
}
