<button-exit></button-exit>
<br/>
<div class="login">
    <img src="../../../assets/login.png" class="login-img">
    <div class="content">
        <div class="info">
            <h3>Welcome back!</h3>
            Type your email and password to log in to your account.
            <br/>
        </div>

        <br/>
        <br/>

        <div class="form-fields">
            <form class="fields">
                <div class="field">
                    <div class="label">Email:</div>
                    <input class="inverse-bordered"/>
                </div>
                <br/>
                <div class="field">
                    <div class="label">Password:</div>
                    <input class="inverse-bordered"/>
                </div>
            </form>
            <br/>
            <button-continue></button-continue>
        </div>

        <br/>
        <a routerLink="/register">
            Don't have an account? Why not REGISTER NOW?
        </a>
    </div>
</div>