body{
    display:flex;

    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;

    background: #008181;

    user-select: none;
    cursor: url('../assets/mouse.cur'), auto;
}

app-home{
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

app-navbar{
}