<button-exit></button-exit>
<br/>
<div class="register">
    <div class="banner bordered"></div>
    <div>
        <div class="info">
            <h3>Register today!</h3>
            Welcome to the register section.
            <br/>
            <br/>
            Congratulations on choosing this website to register.
            <br/>
            <br/>
            Registering will take you an undefined amount of time, since we're relying on you to input your data and click the submit button.
        </div>
        <br/>
        <span>
            <form class="fields">
                <div class="field">
                    <div class="label">Email:</div>
                    <input class="inverse-bordered"/>
                </div>
                <br/>
                <div class="field">
                    <div class="label">Password:</div>
                    <input class="inverse-bordered"/>
                </div>

                <br/>
                <button-continue></button-continue>
            </form>
        </span>
        <br/>
        <a routerLink="/login">
            I alreay have an account!
        </a>
    </div>
</div>