/* You can add global styles to this file, and also import other style files */
@import url("./theme/fonts.scss");
@import url("./theme/borders.scss");
@import url("./theme/scrollbar.scss");
@import url("./theme/cursor.scss");

html{
    overflow: hidden;

    width:100%;
    height:100%;
}

body{
    width: 100%;
    height: 100%;

    margin:0;
}