.post-content{
    padding: 10px;
    max-height: 300px;

    border: 2px solid black;
  
    overflow: auto;
  
    background-color: white;

    .header{
        text-align: center;

        .title{
            margin-bottom: 0;
        }
        .timestamp{
            font-weight: lighter;
        }
    }
}

.comments{
    padding: 10px;
}