
<div class="post">
    <button-exit></button-exit>
    <br/>
    <div class="post-content">
        <div class="header">
            <h2 class="title">{{currentPost.title}}</h2>
            <h4 class="timestamp">({{currentPost.timestamp | date: "long"}})</h4>
            <h4 *ngIf="currentPost.tags.length > 0">Tags: {{currentPost.tags.join(", ")}}</h4>
        </div>
        <div class="content" [innerHTML]="currentPost.content"></div>
    </div>

    <div class="comments">
        <h2> Comments: </h2>
        <app-comment></app-comment>
    </div>
</div>